body{
    margin: 0;
}

.container{
    background-color: #33914C;
    width: 100%;
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position:fixed;
}

.title{
    color: #F9F9F9;
    font-family: 'Poppins', sans-serif;
}