@font-face {
  font-family: "nunito_sansbold";
  src: url("../../fonts/Nunito-Sans/boldregular/nunitosans-bold-webfont.woff2")
      format("woff2"),
    url("../../fonts/Nunito-Sans/boldregular/nunitosans-bold-webfont.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "nunito_sansregular";
  src: url("../../fonts/Nunito-Sans/boldregular/nunitosans-regular-webfont.woff2")
      format("woff2"),
    url("../../fonts/Nunito-Sans/boldregular/nunitosans-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 80%;
  border: 1px solid #aeaeae;
  margin: 0 10%;
  border-radius: 10px;
  margin-bottom: 125px;
  font-family: "nunito_sansregular", serif;
  font-size: 1.1rem;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 13px;
}

.legendHeader {
  font-family: "nunito_sansbold", serif;
  font-size: 1.5rem;
}

.userLeft {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  margin-left: 4px;
}

.userRight {
  margin-right: 10px;
}

.userName {
  margin-left: 2px;
}

.leaderboardRanking {
  height: 50%;
}

.rankContainer {
  margin-top: -15px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.one {
  background-color: #f2fcfb;
  border: 1px solid #aeaeae;
}

.two {
  background-color: #f2f2fc;
  border: 1px solid #aeaeae;
}

.three {
  background-color: #fcf2f2;
  border: 1px solid #aeaeae;
}
