@font-face {
    font-family: "nunito_sansbold";
    src: url("../../fonts/Nunito-Sans/boldregular/nunitosans-bold-webfont.woff2")
        format("woff2"),
      url("../../fonts/Nunito-Sans/boldregular/nunitosans-bold-webfont.woff")
        format("woff");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "nunito_sansregular";
    src: url("../../fonts/Nunito-Sans/boldregular/nunitosans-regular-webfont.woff2")
        format("woff2"),
      url("../../fonts/Nunito-Sans/boldregular/nunitosans-regular-webfont.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

.header {
    background-color: #33914c;
    width: 100%;
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    z-index: 1000;
}

.container{
    display: flex;
    justify-content: center;
}

.c1{
    display: flex;
    flex-direction: column;
}

.title {
    color: #f9f9f9;
    font-family: "Poppins", sans-serif;
}
.loanDropdown{
    margin-top: 140px;
    height: auto;
    border-radius: 12px;
    width: 335px;
    display: block;
    
}
.dropDown{
    width: 386.52px;
    height: 40px;
    background: none;
    border: none;
    font-family: 'nunito_sansregular', serif;
    font-size: 20px;
}

.arrow{
    margin-left: 225px;
    height: 12px;
}

.dropDownTitle{
    font-family: 'nunito_sansbold', serif;
    font-size: 20px;
    color: black;
    margin-left: 4px;
}

.menu{
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
}

.item{
    display: flex;
    flex-direction: column;
}

.menu1, .menu2 {
    font-family: 'nunito_sansregular', serif;
    font-size: 20px;
    color: black;
    border: none;
    background: none;
}

.content{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-right: 280px;
}

.content:hover, .content2:hover{
    background-color: #D9D9D9;
}

.content2{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-right: 280px;
    margin-right: 287px;
    margin-top: 25px;
}