@font-face {
  font-family: "nunito_sansbold";
  src: url("../../fonts/Nunito-Sans/boldregular/nunitosans-bold-webfont.woff2")
      format("woff2"),
    url("../../fonts/Nunito-Sans/boldregular/nunitosans-bold-webfont.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "nunito_sansregular";
  src: url("../../fonts/Nunito-Sans/boldregular/nunitosans-regular-webfont.woff2")
      format("woff2"),
    url("../../fonts/Nunito-Sans/boldregular/nunitosans-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.settingsContainer {
  max-width: 80%;
  margin: 0 10%;
  border-radius: 10px;
  border: 1px solid #aeaeae;

  font-family: "nunito_sansregular", sans-serif;
}

.settingsInfo {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.settingHeader {
  margin-block-end: 0;
  margin-block-start: 0;
  font-size: 1.5rem;
}

.makeRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.childHeader {
  font-size: 1.375rem;
  margin-block-end: 0;
  margin-block-start: 0;
}

.settingButtons {
  background-color: #000000;
  border-radius: 5px;
  color: #ececec;
  font-size: 1rem;
  height: 40px;
  min-width: 130px;
  max-width: 130px;
  text-align: center;
  text-wrap: nowrap;
}
