@font-face {
  font-family: "nunito_sansbold";
  src: url("../../fonts/Nunito-Sans/boldregular/nunitosans-bold-webfont.woff2")
      format("woff2"),
    url("../../fonts/Nunito-Sans/boldregular/nunitosans-bold-webfont.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "nunito_sansregular";
  src: url("../../fonts/Nunito-Sans/boldregular/nunitosans-regular-webfont.woff2")
      format("woff2"),
    url("../../fonts/Nunito-Sans/boldregular/nunitosans-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.profileContainer {
  margin: 0 10%;
  margin-top: 140px;
  max-width: 80%;
  border-radius: 10px;
  font-family: "nunito_sansregular", sans-serif;
  font-size: 16px;
  max-height: 130px;
  border: 1px solid #aeaeae;
}

.profileHeader {
  margin-block-end: 0;
  margin-block-start: 0;
  font-family: "nunito_sansbold", sans-serif;
  font-size: 24px;
}

.profileInfo {
  margin-top: -3px;
}

.info {
  margin-block-end: 8px;
  margin-block-start: 8px;
}
