@font-face {
  font-family: "nunito_sansbold";
  src: url("../../fonts/Nunito-Sans/boldregular/nunitosans-bold-webfont.woff2")
      format("woff2"),
    url("../../fonts/Nunito-Sans/boldregular/nunitosans-bold-webfont.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "nunito_sansregular";
  src: url("../../fonts/Nunito-Sans/boldregular/nunitosans-regular-webfont.woff2")
      format("woff2"),
    url("../../fonts/Nunito-Sans/boldregular/nunitosans-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.supportContainer {
  max-width: 80%;
  margin: 0 10%;
  border-radius: 10px;
  border: 1px solid #aeaeae;
}

.contentContainer {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.supportHeader {
  font-family: "nunito_sansbold";
  font-size: 1.5rem;
  margin-block-end: 0;
  margin-block-start: 0;
}

.faqHeader {
  font-family: "nunito_sansregular";
  font-size: 1.375rem;
  margin-block-end: 0;
  margin-block-start: 0;
}

.supportButton {
  background-color: #000000;
  color: #ececec;
  height: 40px;
  width: 100%;
  border-radius: 5px;
}
