@font-face {
  font-family: "nunito_sansbold";
  src: url("../../fonts/Nunito-Sans/boldregular/nunitosans-bold-webfont.woff2")
      format("woff2"),
    url("../../fonts/Nunito-Sans/boldregular/nunitosans-bold-webfont.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "nunito_sansregular";
  src: url("../../fonts/Nunito-Sans/boldregular/nunitosans-regular-webfont.woff2")
      format("woff2"),
    url("../../fonts/Nunito-Sans/boldregular/nunitosans-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.transactionContainer {
  max-width: 80%;
  margin: 0 10%;
  border: 1px solid #aeaeae;
  border-radius: 10px;
  padding-inline-end: 0;
  padding-inline-start: 0;
  margin-bottom: 120px;
}

.transactionHeader {
  font-family: "nunito_sansbold";
  font-size: 1.5rem;
  margin-block-end: 0;
  margin-block-start: 0;
}

.transactionsContainer {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.transaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "nunito_sansregular", sans-serif;
  font-size: 1.1rem;
  background-color: #d9d9d9;
  height: 30px;
  border-radius: 5px;
  padding: 4px;
}
